#ex2 img { 
		border: 1px solid white; 
		} 
		#ex2 img:hover { 
			border: 1px solid black; 
		}    

			body {
     	  
		  color: #FFFF00;
		  font-size: 1.3vw;
		  line-height: 1.3;
		  font-family:'GT_Walsheim_Pro_Regular'
		  
		}
		a {
		  -webkit-transition: background-color 100ms ease;
		  transition: background-color 100ms ease;
		  color: #000000;
		  text-decoration: none;
		}

		a:hover {
		  color: #000000;
		}

	     .pill-button {
		  display: inline-block ;
		  margin-right: 4px;
		  margin-bottom: 4px;
		  padding: 3px 9px;
		  border: 1px none #fff;
		  border-radius: 100px;
		  background-color: hsla(0, 0%, 100%, .54);

		  
		  -webkit-transition: background-color 100ms ease, opacity 1000ms ease, -webkit-transform 100ms ease;
		  transition: background-color 100ms ease, opacity 100ms ease, -webkit-transform 100ms ease;
		  transition: background-color 100ms ease, opacity 100ms ease, transform 100ms ease;
		  transition: background-color 100ms ease, opacity 100ms ease, transform 100ms ease, -webkit-transform 100ms ease;
		  color: #000000;
		  font-size:  1.35vw;
                  font-weight:300;
          
		}

		.pill-button:hover {
         
		 background-color: #B0B0B0;         
		  opacity: 1;
		  

		}

		.pill-button.dark {	
           	  
          border: 1px solid black; 
          color: #000000;
		  
		}

		.pill-button.dark {	
             	  
          border: 1px solid black; 
          color: #000000;
          
		  

		}

		.breadcrumbslash {
		  width: 8px;
		  margin-right: 8px;
		  margin-bottom: 0px;
		  margin-left: 0px;
		  opacity: 0.21;
		}
		
		html, body{
			height:100%;
			width:100%;
			padding:0;
			margin:0;
		}
 .container {
		display: table;
		width: 100%;}
		.container > span {
		display: table-cell;
		width: auto;
		text-align: center;}
  hr.HLine {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
	
